<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
	body{
		background-color: rgb(255, 212, 219);
	}
	h1{
		text-align: center;
		font-size: 40px;
		margin-top: 18%;
	}
	input{
		margin-left: 47%;
		width:155px;
		height:35px;
		border:none;
		border-radius: 10px;
		font-weight: bold;
		background-color: #024269;
		color: white;
	}
	input[type="submit"]:hover {
        background-color: #33576d;
        color:white;
    }
</style>
</head>
<body>
	<h1>Movie is added successfully. Wants to add another movie?</h1>
	<br><br>
	<form action="map-addmovie">
	<input type="submit" value="Add Movie"/>
	</form>
</body>
</html>