<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
	h1{
		text-align:center;
		margin-top:270px;
	}
	.input{
		margin-left:710px;
		height:35px;
		background-color:rgb(67, 161, 67);
		color:white;
		border:none;
		width:100px;
		border-radius:8px;
		font-weight:bold;
	}
	   .input1{
    	margin-left:710px;
    	height:35px;
    	width:100px;
    	border-radius:8px;
    	color:white;
    	background-color:rgb(186, 19, 19);
    	font-weight: bold;
    	border:none;
    }
	body{
		background-color: rgb(255, 212, 219);
	}
</style>
</head>
<body>
	<h1>User deleted successful</h1>
	<br>
	<form action="viewuser">
	<input  class="input" type="submit" value="View Users">
	</form>
	<br>
	<form action="adminhome">
		<input class="input1" type="submit" value="Go Home">
	</form>
</body>
</html>