<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
	h2{
		text-align:center;
		font-size:40px;
	}
	p{
		font-size:100px;
	}
	span{
		font-size:5px;
		margin-left:700px;
	}
	.button{
		margin-left:705px;
		margin-top:20px;
		height:50px;
		width:100px;
		border-radius:10px;
		background-color:red;
		color:white;
		border:none;
		font-weight:bold;
	}
	body{
		background-color: rgb(255, 212, 219);
	}
</style>
</head>
<body>
	<h2>Registration failed. Try again.</h2>
	<span style='font-size:80px;'>&#10060;
	</span>
	<br><br>
	<form action="map-register">
	<input class="button" type="submit" value="register">
	</form>
</body>
</html>