<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
	h1{
		text-align:center;
		font-size:40px;
	}
	p{
		font-size:100px;
	}
	span{
		font-size:5px;
		margin-left:700px;
	}
	h2{
		margin-left:40%;
	}
	.button{
		background-color:red;
		color:white;
		font-weight:bold;
		border:none;
		text-align: center;
		margin-left:705px;
		height:40px;
		width:100px;
		border-radius:10px;
	}
	body{
		background-color: rgb(255, 212, 219);
	}
</style>
</head>
<body>
	<h1> Registration successful!</h1>
	<h2>Your account has been created</h2>
	<br><br>
	<span style='font-size:80px;'>&#9989;
	</span>
	<br>
	<form action="register" method="post">
	</form>
	<br>
	<form action="map-login">
	<input class="button" type="submit" value="Login">
	</form>
</body>
</html>